.editor-container {
  /* width: 80%; */
  background-color: #333251;
}
.editor-header {
  background-color: #88898d;
  color: rgb(228, 228, 102);
  display: flex;
  justify-content: space-between;
  padding: 14px 27px;
}
#filesName {
  font-weight: 600;
  font-size: 20px;
}
.header-icons {
  color: black;
  display: flex;
  gap: 5px;
}
